﻿@model RideSharingAPP.WEB.Models.Authorization.RegistrationViewModel
@{
    ViewBag.Title = "Registration";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/LogIn/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/main.css">

    <link rel="stylesheet" type="text/css" href="~/Content/LogIn/css/CustomCssStylesForLogIn.css" />
    <!--===============================================================================================-->
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="left_block imageStyle" style="background-image: url('../../Content/LogIn/bg-01.jpg');"></div>


        <div class="right_block">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title p-b-34">
                    Регистрация
                </span>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger txt1 mytxt" })
                    <div class="wrap-input100 rs1-wrap-input100">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input100", @type = "email", @name = "username", @placeholder = "Почта" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger txt1 mytxt" })
                    <div class="wrap-input100 rs1-wrap-input100">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", @type = "password", @name = "pass", @placeholder = "Пароль" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger txt1 mytxt myradiostyle" })
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Регистрация
                    </button>
                </div>

                <div class="w-full text-center link1">
                    <span class="txt1 mytxt">
                        Забыли пароль?
                    </span>
                    @Html.ActionLink("Восстановить пароль", "PasswordRecovery", new { htmlAttributes = new { @class = "txt2 mytxt link1" } })
                </div>

                <div class="w-full text-center link2">
                    <span class="txt1 mytxt">
                        Вспомнили пароль?
                    </span>
                    @Html.ActionLink("Войти", "Authorization", new { @class = "txt2 mytxt link2" })
                </div>
            }

        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/popper.js"></script>
    <script src="~/Content/LogIn/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/moment.min.js"></script>
    <script src="~/Content/LogIn/js/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LogIn/js/main.js"></script>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
