﻿@model RideSharingAPP.WEB.Models.Car.EditCarComments

@{
    Layout = "~/Views/Shared/_LayoutDriver.cshtml";
    ViewBag.Title = "EditCar";
}
<head>
    <link href='~/Content/Driver(Car)/CustomStylesEditCar.css' rel='stylesheet' />
</head>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Введите новый комментарий </h4>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group content">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, new { @class = "customTextArea" })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.Mark)
            @Html.HiddenFor(model => model.Model)
            @Html.HiddenFor(model => model.RegistrationNumber)
            @Html.HiddenFor(model => model.YearOfIssue)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "CarList", null , new { @class ="btn btn-default" })
</div>
