﻿@model RideSharingAPP.WEB.Models.Authorization.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutDriver.cshtml";
    ViewBag.Title = "ChangePassword";
}

<h2>Смена пароля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Пароль")
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Сохранить" class="btn btn-default" />
                @Html.ActionLink("Вернуться", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

